//Fonts import "Lato" 
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
//Null styles
@import "nullstyle.scss";

body{
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 400;
}
body._lock{
    overflow: hidden;
}

.wrapper{
    min-height: 100%;
    background: linear-gradient(rgb(47, 59, 84), rgb(23, 28, 40));
    .header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3) );
        backdrop-filter: blur(2rem);
        .header__container{
            max-width: 1200px;
            margin: 0px auto;
            display: flex;
            padding: 0px 2%;
            align-items: center;
            min-height: 70px;
            .menu__body{
                flex-basis: 100%;
                .menu__list{
                    display: flex;
                    justify-content: space-around;
                    width: 100%;
                    height: 100%;
                    .menu__link{
                        position: relative;
                        color: #393131;
                        font-weight: 700;
                        font-size: 22px;
                        padding: 10px 0px;
                        span{
                            display: block;
                            position: absolute;
                            bottom: -3;
                            left: -100%;
                            width: 100%;
                            height: 3px;
                            background: linear-gradient(90deg, transparent,#2b2415);
                            opacity: 0;
                        }
                    }
                    .menu__link:hover span{
                        left: 0;
                        transition: 0.5s;
                        opacity: 1;
                    }
                }
            }
            .menu__icon{
                display: none;
            }
        }
    }
    .content{
        padding: 90px 2% 30px 2%;
        .content__section{
            max-width: 1280px;
            margin: 0 auto;
            background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3) );
            backdrop-filter: blur(2rem);
            border-radius: 1rem;
            .content__header{
                font-size: 50px;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                font-weight: 700;
                text-align: center;
                padding: 40px 0 0 0;
                color: #463c3c;
                user-select: none;
            }
            .content__box{
                display: flex;
                justify-content: space-evenly;
                text-align: center;
                align-items: center;
                padding: 5% 0;
                .content__text{
                    flex-basis: 45%;
                    color: #ffffff;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    font-size: 20px;
                    user-select: none;
                }
            }
            .content__nav{
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 70px;
                padding-bottom: 50px;
                a{
                    color: #fff;
                    font-size: 40px;
                    display: block;
                    padding: 10px 20px;
                    transition: 0.5s;
                }
            }
            .content__nav a:hover{
                transform: scale(1.3);
            }
        }
        .page__section_1{
            .content__box{
                text-align: left;
                align-items: center;
                .content__text{
                    h1{
                        font-size: 70px;
                        font-weight: 600;
                    }
                    .name{
                        color: #463c3c;
                    }
                }
                .content__box_logo{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    width: 250px;
                    height: 250px;
                    border-radius: 50%;
                    transform: scale(1.2);
                    .logo{
                        position: absolute;
                        background: url(./img/n_t.jpg);
                        background-size: cover;
                        width: 200px;
                        height: 200px;
                        border-radius: 50%;
                        filter: grayscale(1) contrast(1.4) brightness(1.4);
                    }
                    .logo_text{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        animation: rotateText 17s linear infinite;
                        span{ 
                            position: absolute;
                            left: 50%;
                            color: white;
                            font-size: 18px;
                            font-weight: 600;
                            transform-origin: 0 125px;
                        }
                    }
                }
            }
        }
        .page__section_2{
            margin-top: 3rem;
            .content__box_2{
                flex-direction: column;
                .content__text_2{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-bottom: 2rem;
                    h2{
                        padding-bottom: 1rem;
                        color: #463c3c;
                        font-weight: 600;
                    }
                    p{
                        max-width: 1050px;  
                        padding: 0 5%;
                        line-height: 25px;
                        a{
                            color: white;
                        }
                    }
                }
            }
        }
        .page__section_3{
            margin-top: 3rem;
            .content__box_3{    
                position: relative;
                justify-content: start;   
                padding: 25px 0;
                color: white;
                overflow: hidden;
                .content__box_slider{
                    display: flex;
                    gap: 20px;
                    transition: 0.4s ease-in-out;
                    padding: 10px;
                    .content__box_3-card{
                        position: relative;
                        display: flex;
                        height: 400px;
                        min-width: 300px;
                        width: 300px;
                        padding: 15px;
                        border-radius: 5px;
                        background: rgba(0, 0, 0, 0.7);
                        user-select: none;
                        .card__logo{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            border-radius: 5px;
                            background: linear-gradient(#425376, #151a25);
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            overflow: hidden;
                            transition: 0.5s ease-in-out;
                            span{
                                font-size: 70px;
                                display: block;
                                transition: 0.5s ease-in-out  
                            } 
                        }
                        .card__content{
                            margin-left: 55px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: left;
                            .card_text{
                                line-height: 100%;
                                font-size: 18px;
                                width: 200px;
                                .card_text_el{
                                    padding-bottom: 13px;
                                }
                            }    
                        }                     
                    }
                    .content__box_3-card:hover .card__logo{
                        width: 75px;
                        height: 75px;
                        left: -15px;
                        top: calc(20% - 45px);
                        background: linear-gradient(#425376, #151a25);
                    }
                    .content__box_3-card:hover .logo{
                        font-size: 40px;
                    }
                    .content__box_3-card:hover .card__logo_name{
                        font-size: 15px;
                    }
                }
                .icon-right{
                    display: block;
                    position: absolute;
                    top: 27%;
                    right: 20px;
                    font-size: 50px;
                    padding: 70px 0;
                    background: rgba(0, 0, 0, 0.1);
                    transition: 0.5s;
                    border-radius: 5px;
                    cursor: pointer;
                }
                .icon-left{
                    display: block;
                    position: absolute;
                    top: 27%;
                    left: 20px;
                    font-size: 50px;
                    padding: 70px 0;
                    background: rgba(0, 0, 0, 0.1);
                    transition: 0.5s;
                    border-radius: 5px;
                    cursor: pointer;
                }
                .icon-right:hover{
                    background: rgba(255, 255, 255, 0.3);
                }
                .icon-left:hover{
                    background: rgba(255, 255, 255, 0.3);
                }
            }
            .contetnt__header-bottom{
                text-align: center;
                color: #3e3434;
                font-size: 50px;
                margin-top: 20px;
                font-weight: 600;
                text-shadow: 0 5px 5px rgba(0,0,0,0.3);
            }
            .content__box_feature{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 25px;
                padding: 50px 0;
                .card_logo{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: #fff;
                    transition: transform 0.4s;
                    span{
                        display: block;
                        font-size: 70px;
                    }
                }
                .card_logo:hover{
                    transform: scale(1.15);
                }
            }
        }
        .page__section_4{
            margin-top: 3rem;
            .content__projectsBox{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 25px 5px;
                .project__card{
                    position: relative;
                    display: flex;
                    text-align: right;
                    margin-top: 25px;
                    max-width: 1000px;
                    width: 100%;
                    border-radius: 5px;
                    background: linear-gradient(rgb(47, 59, 84), rgb(23, 28, 40));
                    user-select: none;
                    .project__img{
                        width: 60%;
                        border-radius: 5px;
                        overflow: hidden;
                        a{
                            display: block;
                            border-radius: 5px;
                            background: #0057fa;
                            img{
                                width:100%;
                                height: 425px;
                                border-radius: 5px;
                                vertical-align: middle;
                                transition: transform 0.4s ease-in-out;
                            }
                            img:hover{
                                transform: scale(1.1);
                            }
                        }
                    }
                    .project__content{
                        text-align: end;
                        position: absolute;
                        top: 16%;
                        .projetct__title{
                            font-size: 20px;
                            color: #fff;
                            font-weight: 600;
                            margin-bottom: 50px;
                        }
                        .project__description{
                            font-size: 18px;
                            max-width: 500px;
                            padding: 25px;
                            border-radius: 5px;
                            background: linear-gradient(rgb(47, 59, 84), rgb(23, 28, 40));
                            box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
                            line-height: 130%;
                            color: #fff;
                        }
                        ul{
                            display: flex;
                            justify-content: flex-end;
                            color: #fff;
                            li{
                                background-color: rgba(0,0,0, 0.4);
                                border-radius: 5px;
                                margin: 2px;
                                padding: 10px;
                            }
                            li:first-child{
                                margin-left: 0;
                            }
                            li:last-child{
                                margin-right: 0;
                            }
                        }
                        .project__texList-left{
                            justify-content: start;
                            flex-wrap: wrap;
                        }
                        .project__links{
                            a{
                                display: inline-block;
                                color: #fff;
                                padding: 10px;
                                font-size: 25px;
                                transition: transform 0.4s;
                            }
                            a:hover{
                                transform: scale(1.2);
                            }
                        }
                    }
                    .project__content-left{
                        text-align: start;
                        left: 25px;
                        max-width: 500px;
                    }
                    .project__content-right{
                        right: 25px;
                    }
                }
                .left_card{
                    flex-direction: row-reverse;
                }
            }
        }
        .page__section_5{
            margin-top: 3rem;
            .content__box_5{
                form{
                    width: 55%;
                    .input_text{
                        display: block;
                        height: 44px;
                        width: 100%;
                        border: 1px solid #A4A4A4;
                        padding-left: 16px;
                        border-radius: 1rem;
                        font-size: 20px;
                        &:focus{
                            box-shadow: 0px 2px 25px 4px rgb(178, 123, 87);
                        }
                    }
                    .input_textArea{
                        display: block;
                        border: 1px solid #A4A4A4;
                        padding: 12px 18px;
                        border-radius: 1rem;
                        font-size: 20px;
                        width: 100%;
                        height: 400px;
                        &:focus{
                            box-shadow: 0px 2px 25px 4px rgb(178, 123, 87);
                        }
                    }
                    .contact__button{
                        width: 210px;
                        height: 45px;
                        margin-top: 2rem;
                        border-radius: 1rem;
                        font-size: 19px;
                        transition: 0.5s;
                        color: #b49a9a;
                        font-size: 37px;
                        &:hover{
                            transform: scale(1.1);
                            box-shadow: 0px 2px 25px 4px rgb(178, 123, 87);
                        }
                    }
                }
            }
        }
    }
    .footer{
        background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3) );
        backdrop-filter: blur(2rem);
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        .footer__container{
            max-width: 1100px;
            width: 90%;
            display: flex;
            justify-content: space-between;
            .footer__container_text{
                display: flex;
                align-items: center;
                p{
                    color: white;
                }
            }
            nav{
                display: flex;
                a{
                    color: white;
                    font-size: 30px;
                    display: block;
                    padding: 10px 20px;
                    transition: transform 0.4s;
                }
                a:hover{
                    transform: scale(1.2);
                }
            }
        }
    }
      
}
/* --------------------------------------*/
@media (max-width: 1120px){
    .wrapper{
        .content{
            .page__section_1{
                .content__box{
                    .content__text{
                        h1{
                            font-size: 60px;
                        }
                    }
                }
            }
            .page__section_3{
                .content__box_3{
                    .content__box_3-card{
                        width: 43%;
                    }
                }
            }
        }
    }
}
@media (max-width: 1020px){
    .wrapper{
        .content{
            .page__section_1{
                .content__box{
                    .content__text{
                        h1{
                            font-size: 50px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 880px){
    .wrapper{
        .content{
            .page__section_1{
                .content__box{
                    .content__text{
                        h1{
                            font-size: 40px;
                        }
                    }
                }
            }
            
        }
    }
}
@media (max-width: 767px){
    .wrapper{
        .header{
            .header__container{
                justify-content: flex-end;
                .menu__body{
                    position: fixed;
                    top: 0;
                    left: -100%;
                    width: 100%;
                    height: 100vh;
                    background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.8) );
                    backdrop-filter: blur(2rem);
                    padding: 100px 30px 30px 30px;
                    transition: left 0.3s ease 0s;
                    overflow: auto;
                    .menu__list{
                        flex-direction: column;
                        justify-content: start;
                        align-items: center;
                        li{
                            font-size: 30px;
                            margin-bottom: 30px;
                        }

                    }
                }
                .menu__body._active{
                    left: 0;
                }
                .menu__icon{
                    z-index: 5;
                    display: block;
                    position: relative;
                    width: 35px;
                    height: 27px;
                    cursor: pointer;
                    margin-right: 5%;
                }
                .menu__icon span,
                .menu__icon::before,
                .menu__icon::after{
                left: 0;
                position: absolute;
                height: 10%;
                width: 100%;
                transition: all 0.3s ease 0s;
                background-color: rgb(24, 19, 19);
                }
                .menu__icon::before,
                .menu__icon::after {
                content: "";
                }
                .menu__icon::before{
                top: 0;
                }
                .menu__icon::after{
                bottom: 0;
                }
                .menu__icon span{
                top: 50%;
                transform: scale(1) translate(0px, -50%);
                }
                .menu__icon._active span{
                    transform: scale(0) translate(0px, -50%);
                }
                .menu__icon._active::before{
                    top: 50%;
                    transform: rotate(-45deg) translate(0px, -50%);
                }
                .menu__icon._active::after{
                    bottom: 50%;
                    transform: rotate(45deg) translate(0px, 50%);
                }
            }
        }
        .content{
            .content__section{
                .content__header{
                    font-size: 35px;
                }
            }
            .page__section_1{
                .content__box{
                    flex-direction: column;
                    align-items: center;
                    .content__box_logo{
                        margin-bottom: 30px;
                    }
                    .content__text{
                        width: 90%;
                        text-align: center;
                        h1{
                            font-size: 60px;
                        }
                    }
                }
                .content__nav{
                    flex-wrap: wrap;
                }
            }
            .page__section_3{
                .contetnt__header-bottom{
                    font-size: 40px;
                }
            }
            .page__section_4{
                .content__projectsBox{
                    .project__card{
                        .project__img{
                            width: 100%;
                        }
                        .project__content{
                            text-align: left;
                            padding: 40px 40px 30px;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            right: 0;
                            background: rgba(0, 0, 0, 0.5);
                            border-radius: 5px;
                            .projetct__title{
                                margin-bottom: 0px;
                                margin-top: 50px;
                            }
                            .project__description{
                                max-width: 100%;
                                padding: 25px 0px;
                                background: none;
                            }
                            ul{
                                justify-content: flex-start;
                            }
                            .project__links{
                                display: flex;
                                justify-content: flex-end;
                                a{
                                    font-size: 31px;
                                    margin-top: 10px;
                                }
                            }    
                        }
                        .project__content-left{
                            left: 0;
                            max-width: 800px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 690px){
    .wrapper{
        .content{
            .page__section_1{
                .content__box{
                    .content__text{
                        h1{
                            font-size: 50px;
                        }
                    }
                }
            }
        }
    }
    .footer{
        .footer__container{
            flex-direction: column-reverse;
            align-items: center;
            .footer__container_text{
                margin-top: 15px;
            }
        }
    }
}
@media (max-width: 575px){
    .wrapper{
        .content{
            .page__section_1{
                .content__box{
                    .content__text{
                        h1{
                            font-size: 40px;
                        }
                    }
                }
            }
            .page__section_4{
                .content__projectsBox{
                    .project__card{
                        .project__content{
                            padding: 10px;
                            .projetct__title{
                                margin-top: 100px;
                                font-size: 20px;
                            }
                            .project__description{
                                font-size: 16px;
                            }
                            ul{
                                font-size: 16px;
                                li{
                                    padding: 10px 10px 10px 0;
                                }
                            }
                        }
                    }
                }
            }
            .page__section_3{
                .contetnt__header-bottom{
                    font-size: 30px;
                }
                .content__box_feature{
                    padding: 25px 0;
                }
            }
        }
    }
}
@media (max-width: 460px){
    .wrapper{
        .content{
            .page__section_1{
                .content__box{
                    .content__text{
                        h1{
                            font-size: 38px;
                        }
                    }
                }
            }
            .page__section_3{
                .content__box_3{
                    .icon-right{
                        font-size: 30px;
                    }
                    .icon-left{
                        font-size: 30px;
                    }
                }
            }
            .page__section_4{
                .content__projectsBox{
                    .project__card{
                        .project__content{
                            .project__texList{
                                flex-wrap: wrap;
                                li{
                                    padding: 10px 10px 0 0;
                                    font-size: 14px;
                                }
                            }
                            .projetct__title{
                                margin-top: 70px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* -------------------------------------------*/

//logo animation
@keyframes rotateText{
    0% {
        transform: rotate(360deg);
    }
}

